.list-title {
  font-size: 38px;
  font-weight: 700;
  font-family: 'Gugi', cursive;
  margin-top: 13px;
  text-align: center;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  gap: 40px;
  text-align: center;
  margin-left: 80px;
}

.list-container {
  background-color: #c3f0e8;
  border-radius: 30px;
  margin: 10px 30px 10px 30px;
  padding-top: 5px;
  padding-bottom: 30px;
  border-width: 6px;
  border-style: solid;
  border-color: rgb(113, 197, 239);
  font-family: 'Gugi', cursive;
}
